<html>

<head>
    <title>Marson events</title>
</head>

<body>

    <script src="https://unpkg.com/vue@3"></script>

    <header>
        <h1>Events of marson parulian</h1>
        <p>Events related to eyes problem and professional history of Marson Parulian</p>
    </header>
    <main>
        <div id="app">
            <div id="event-filter"></div>
            <div id="event-list">
                <h1 class="sr-only">List of events</h1>
                <h2>2008</h2>
                <p>Start working as web developer. Normal eyesight. Live in Jakarta, Indonesia.</p>
                <h2>2009</h2>
                <p><strong>September</strong>Injury on right eye. Minor problem reading.</p>
                <h2>2011</h2>
                <p>Continue working as web dev with eye problem. Taking breaks every 50 &ndash; 90 minutes</p>
                <h2>2016</h2>
                <p><strong>February</strong>Move to Sydney.</p>
                <p><strong>June</strong>Start working in <em>Finder.com.au</em>, taking breaks every &lt; 2 hours</p>
                <h2>2017</h2>
                <p><strong>February</strong>Eye problem became worse. Resigned from work.</p>
                <h2>2019</h2>
                <p><strong>October</strong>Started using screen reader (NVDA).</p>
            </div>
        </div>
    </main>
    <!--
    <div id="app">
        <main>
            <div id="movies-filter">
                <input v-model="filterText" placeholder="Filter movies.." />
            </div>

            <div id="movie-list">
                <h2>Movies</h2>
                <div v-for="m in filteredMovies">
                    <movie-compact :title="m.title" :shortDesc="m.shortDesc"></movie-compact>
                </div>
            </div>
        </main>
    </div>
-->

    <script type="module">
        const { createApp, computed } = Vue;

        createApp({
            components: {
            },
            data() {
                return {
                    message: 'Hello Vue!',
                    filterText: '',
                    movies: [
                        { title: 'Apple', shortDesc: 'Short description of this movie.' },
                        { title: 'Watermelon', shortDesc: 'Another short description..' },
                    ],
                    filteredMovies: computed(() => {
                        const t = this.filterText.trim();

                        // Return all `movies` if filter text is falsy.
                        if (!t) return this.movies;

                        // Apply filter
                        const p = new RegExp(this.filterText, 'i');
                        return this.movies.filter((m) => {
                            return m.title.match(p);
                        });
                    }),
                };
            }
        }).mount('#app')
    </script>

</body>

</html>
