<html>

<head>
    <title>Marson events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        header {
            text-align: center;
            margin-bottom: 2rem;
        }

        main {
            padding: 0 16px;
        }

        footer {
            text-align: center;
        }

        p {
            margin: .4rem 0;
        }

        p>strong {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        p>strong:after {
            content: " - ";
        }
    </style>
</head>

<body>

    <script src="https://unpkg.com/vue@3"></script>

    <header>
        <h1>Events of marson parulian</h1>
        <p>Events related to eyes problem and professional history of Marson Parulian</p>
        <hr />
    </header>
    <main>
        <div id="app">
            <div id="event-filter"></div>
            <div id="event-list">
                <h1 class="sr-only">List of events</h1>
                <h2>2008</h2>
                <p>Started to work as web developer. Normal eyesight. Live in Jakarta, Indonesia.</p>
                <h2>2009</h2>
                <p><strong>September</strong>Injury on right eye. Problem reading in short distance.</p>
                <h2>2011</h2>
                <p>Continued to work as web developer with eye problem. Taking breaks every 50 &ndash; 90 minutes</p>
                <h2>2016</h2>
                <p><strong>February</strong>Moved to Sydney.</p>
                <p><strong>June</strong>Started to work at <em>Finder.com.au</em>, taking breaks every &lt; 2 hours</p>
                <h2>2017</h2>
                <p><strong>February</strong>Eye problem became worse. Resigned from work.</p>
                <h2>2019</h2>
                <p><strong>October</strong>Started using screen reader (NVDA).</p>
                <h2>2021</h2>
                <p><strong>~October</strong>Started looking for work.</p>
            </div>
        </div>
    </main>
    <footer>&lt;&lt;&lt;&nbsp;&gt;&gt;&gt;</footer>
    <!--
    <div id="app">
        <main>
            <div id="movies-filter">
                <input v-model="filterText" placeholder="Filter movies.." />
            </div>

            <div id="movie-list">
                <h2>Movies</h2>
                <div v-for="m in filteredMovies">
                    <movie-compact :title="m.title" :shortDesc="m.shortDesc"></movie-compact>
                </div>
            </div>
        </main>
    </div>
-->

    <script type="module">
        const { createApp, computed } = Vue;

        createApp({
            components: {
            },
            data() {
                return {
                    message: 'Hello Vue!',
                    filterText: '',
                    movies: [
                        { title: 'Apple', shortDesc: 'Short description of this movie.' },
                        { title: 'Watermelon', shortDesc: 'Another short description..' },
                    ],
                    filteredMovies: computed(() => {
                        const t = this.filterText.trim();

                        // Return all `movies` if filter text is falsy.
                        if (!t) return this.movies;

                        // Apply filter
                        const p = new RegExp(this.filterText, 'i');
                        return this.movies.filter((m) => {
                            return m.title.match(p);
                        });
                    }),
                };
            }
        }).mount('#app')
    </script>

</body>

</html>
